fastapi
uvicorn[standard]
# Vector database
chromadb
# Embeddings
sentence-transformers
torch
# Supabase database
supabase
# Environment variables
python-dotenv
# Data validation
pydantic
# HTTP requests (used internally by some services)
requests
# Optional but useful
numpy
scikit-learn
# Testing
pytest
#ipython
ipython
#Agent framework
langgraph
langchain
langchain-core
langchain_tavily
langchain-groq